
<div class="container-fluid main">
  <div class="row">
    <div class="col-md-3 HomeLabel">
      <span>Home / <span class="resultText">Search Results</span></span>
    </div>
  </div>
  <div class="row" *ngIf="searchText">
    <div class="col-lg-4 searchBox">
      <!-- <label class="searchLabel">Serach Results</label>
      <input type="text" class="form-control" placeholder="Enter" name="search2">
        <button class="btn searchIcon" type="submit">
          <i class="glyphicon glyphicon-search searchIcon"></i>
        </button> -->
          <div class="input-group">
            <input type="text" class="form-control"  [(ngModel)]="searchText"  placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
          </div>
    </div>
    <div class="col text-right sort">
      Sort By
    </div>

</div>
<hr>
</div>






